<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>E-Commerce|Products</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="/stylesheets/css.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="/javascripts/jquery-2.1.1.min.js"></script> 
<!--icons-css-->
<link href="/stylesheets/font-awesome.css" rel="stylesheet"> 
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--//skycons-icons-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>  
<script>
var socket=io();
var session=sessionStorage;
</script>
<% include loader%>
</head>
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div class="header-main">
					<div class="header-left">
							<div class="logo-name">
									 <a href="index.html"> <h1>E-Comm</h1> 
									<!--<img id="logo" src="" alt="Logo"/>--> 
								  </a> 								
							</div>
							<!--search-box-->
								<div class="search-box">
									<form>
										<input type="text" placeholder="Search..." required="">	
										<input type="submit" value="">					
									</form>
								</div><!--//end-search-box-->
							<div class="clearfix"> </div>
						 </div>
						 <div class="header-right">
							<div class="profile_details_left"><!--notifications of menu start -->
								<ul class="nofitications-dropdown">
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new messages</h3>
												</div>
											</li>
											<li><a href="#">
											   <div class="user_img"><img src="images/p4.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li class="odd"><a href="#">
												<div class="user_img"><img src="images/p2.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor </p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											</a></li>
											<li><a href="#">
											   <div class="user_img"><img src="images/p3.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all messages</a>
												</div> 
											</li>
										</ul>
									</li>
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new notification</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="user_img"><img src="images/p5.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											 </a></li>
											 <li class="odd"><a href="#">
												<div class="user_img"><img src="images/p6.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li><a href="#">
												<div class="user_img"><img src="images/p7.png" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li>
												<div class="notification_bottom">
													<a href="#">See all notifications</a>
												</div> 
											</li>
										</ul>
									</li>	
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">9</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 8 pending task</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Database update</span><span class="percentage">40%</span>
													<div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													<div class="bar yellow" style="width:40%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar green" style="width:90%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Mobile App</span><span class="percentage">33%</span>
													<div class="clearfix"></div>	
												</div>
											   <div class="progress progress-striped active">
													 <div class="bar red" style="width: 33%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar  blue" style="width: 80%;"></div>
												</div>
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all pending tasks</a>
												</div> 
											</li>
										</ul>
									</li>	
								</ul>
								<div class="clearfix"> </div>
							</div>
							<!--notification menu end -->
							<%if(!Client){%>
							<div class="profile_details"  style="position: relative;right: 27%;">		
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img">	 
												<div class="user-name">
													<!--p>Malorum</p>
													<span>Client</span-->
												</div>
												<i class="fa fa-angle-down lnr"></i>
												<i class="fa fa-angle-up lnr"></i>
												<div class="clearfix"></div>	
											</div>	
										</a>
										<ul class="dropdown-menu drp-mnu">
										<li>
											<div class="horizontal-tab">
								              <ul class="nav nav-tabs">
								                <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">Login</a></li>
								                <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false">Register</a></li>
								                
								                
								              </ul>
								              <div class="tab-content">
								                <div class="tab-pane active" id="tab1">
								                 <div class="login-block">
												<form method="post" action="/login">
													<input type="hidden" name='action' value="login">
													<input name="userName" placeholder="UserName" required="" type="text">
													<input name="password" class="lock" placeholder="Password" type="password">
													<div class="forgot-top-grids">
														<div class="forgot-grid">
															<ul>
																<li>
																	<input id="brand1" value="" type="checkbox">
																	<label for="brand1"><span></span>Remember me</label>
																</li>
															</ul>
														</div>
														<div class="forgot">
															<a href="/account/recovery">Forgot password?</a>
														</div>
														<div class="clearfix"> </div>
													</div>
													<input value="Login" type="submit">		
													<!--h2>or login with</h2>
													<div class="login-icons">
														<ul>
															<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
															<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
															<li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>						
														</ul>
													</div-->
													<h5><a href="/">Go Back to Home</a></h5>
												</form>
											</div>
								                </div>
								                <div class="tab-pane" id="tab2">
										                  <div class="signup-block">
														<form action="/login" method="post">
														<input type="hidden" name='action' value="register">
															<input name="email" placeholder="Name" required="" type="text">
															<input name="email" placeholder="Email" required="" type="text">
															<input name="password" class="lock" placeholder="Password" type="password">
															<div class="forgot-top-grids">
																<div class="forgot-grid">
																	<ul>
																		<li>
																			<input id="brand1" value="" type="checkbox">
																			<label for="brand1"><span></span>I agree to the terms</label>
																		</li>
																	</ul>
																</div>
																
																<div class="clearfix"> </div>
															</div>
															<input name="Sign In" value="Sign up" type="submit">		
														</form>
														<div class="sign-down">
														  <h5><a href="/">Go Back to Home</a></h5>
														</div>
													</div>
								                </div>
								              </div>
								            </div>
		                				</li>						
										</ul>
									</li>
								</ul>
							</div>
							<%}else{%>
							<div class="profile_details">		
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img"> 
												<div class="user-name">
													<p><%=Name%></p>
													<span>Client</span>
												</div>
												<i class="fa fa-angle-down lnr"></i>
												<i class="fa fa-angle-up lnr"></i>
												<div class="clearfix"></div>	
											</div>	
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li> 
											<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
											<li> <a href="" def="logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
										</ul>
									</li>
								</ul>
							</div>
							<%}%>
							<div class="clearfix"> </div>	
						</div>
				     <div class="clearfix"> </div>	
				</div>
<!--heder end here-->
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script>
<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
    <div class="product-block">
    	<div class="pro-head">
    		<a href="/" class="btn btn-link"><h2>Products</h2></a>
    	</div>
    	<%if(Products&&Products!=[]){%>
    	<%for(var i in Products){%>
    	<div class="col-md-3 col-sm-6 col-xs-4 product-grid" q='0' Incart='false'>
    	<input type="hidden" value="<%=Products[i].ShopName%>:<%=Products[i].ProductId%>">
    		<div class="product-items">
	    		    <div class="project-eff">
						<a href="/<%=Products[i].ShopName%>/<%=Products[i].Cat%>/<%=Products[i].ProductName%>">
						<img src="<%=Products[i].ProductThumbnail%>" class="img-responsive" width='100%' height='150' alt="<%=Products[i].ProductName%>"></a>
					</div>
	    		<div class="produ-cost">
	    			<h4>
	    			<%=Products[i].ProductName%>
	    			<div class="check pull-right">
		                     <input type="checkbox" value="<%= Products[i].ProductId%>" id="check<%= Products[i].ProductId %>" />
		                     <label for="check<%= Products[i].ProductId%>"></label>
                		</div>
	    			</h4>
	    			<h5>
	    				<div class="btn-group">
	    				  <%if(type&&type=='owner'){%>
						  <a class="btn btn-danger btn-xs fa fa-remove"></a><a class="btn btn-primary btn-xs fa fa-pencil"></a>
						  <%}%>
						  <a class="btn btn-warning btn-xs fa fa-plus"><b>Q</b></a>
						  <div class="pull-right">
						   <p class="price"><%=Products[i].Price%><i class="fa fa-dollar"></i></p>
						  </div>
						<div class="col-sm-offset-12 pull-right mb-60">
							<%if(Products[i].Quantity>10){%>
							<label class="label label-success">InStock</label>
							<%}if(Products[i].Quantity==5){%>
							<label class="label label-warning">Limited</label>
							<%}if(Products[i].Quantity<5){%>
							<label class="label label-danger">Out of Stock</label>
							<%}%>
						</div></div>
					</h5>
				</div>
			</div>
    	</div>
    	<%}%>
    	<%}%>
      <div class="clearfix"> </div>
    </div>
</div>
<!--inner block end here-->
<link rel="stylesheet" type="text/css" href="/stylesheets/magnific-popup.css">
			<script type="text/javascript" src="/javascripts/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>

<!--copy rights start here-->
<div class="copyrights">
	 <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>	
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    <div class="sidebar-menu">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span> 
			      <!--<img id="logo" src="" alt="Logo"/>--> 
			  </a> </div>		  
		    <div class="menu">
		      <ul id="menu">
		        <li><a href="#"><i class="fa fa-cogs"></i><span>Cats</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul>
		          <%if(Cats&&Cats!=[]){%>
		          <%for(var i in Cats){%>
		            <li><a href="?cat=<%=Cats[i].Cat %>"><%=Cats[i].Cat%></a></li>
		           <%}}%>            
		          </ul>
		        </li>
		        <li><a href="#"><i class="fa fa-envelope"></i><span>Mailbox</span><span class="fa fa-angle-right" style="float: right"></span></a>
		        	 <ul id="menu-academico-sub">
			            <li id="menu-academico-avaliacoes"><a href="inbox.html">Inbox</a></li>
			            <li id="menu-academico-boletim"><a href="inbox-details.html">Compose email</a></li>
		             </ul>
		        </li>
		         <li><a href="#"><i class="fa fa-cog"></i><span>Settings</span><span class="fa fa-angle-right" style="float: right"></span></a>
		         	 <ul id="menu-academico-sub">
			            <li id="menu-academico-avaliacoes"><a href="404.html">404</a></li>
			            <li id="menu-academico-boletim"><a href="blank.html">Blank</a></li>
		             </ul>
		         </li>
		         <li><a href="/cart"><i class="fa fa-shopping-cart"></i><span>Cart</span></a>
		         </li>
		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>
</div>
<!--slide bar menu end here-->
<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="/javascripts/jquery.nicescroll.js"></script>
		<script src="/javascripts/scripts.js"></script>
		<!--//scrolling js-->
<script src="/javascripts/bootstrap.js"> </script>
<!-- mother grid end here-->
<script type="text/javascript">
	if (!session.client){session.setItem('client',"<%=Client%>")}
	cart={};
	$(".btn.btn-warning.fa-plus").click((event)=>{
		event.preventDefault();
		a=$(".product-grid").has(event.target);
		if (parseInt(a.attr("q"))>5) {
			diff=parseInt(a.attr("q"))-5;
			a.attr("q",parseInt(a.q)-diff);
		}
		else{
		a.attr('q',parseInt(a.attr('q'))+1);
		}
			if (a.attr('Incart')=='true') {
				cart[a.find('h4').text().trim()]={q:a.attr('q'),img:a.find('img').attr('src'),price:a.find('p.price').text().trim(),s:a.find("input[type=hidden]").val()};
			}
			else{
				delete cart[a.find('h4').text().trim()];
			}
			if (!session.oproducts) 
			{
					session.setItem('oproducts',"{}");
			}
			else
			{
			Scart=JSON.parse(session.oproducts);
			for(var i in cart){
				for(var j in Scart){
					if (i!=j) {
						cart[j]=Scart[j];
					}
					else{break;}
				}
			}
		}
			session.setItem('oproducts',JSON.stringify(cart));
	})
	$('[for^=check]').click((event)=>{
		a=$(".product-grid").has(event.target);
		if (a.attr('Incart')=='false') {
			a.attr('Incart','true');
		}
		else{
			a.attr('Incart','false');
		}
	});
	$("a[def=logout]").click((event)=>{
		$(event.target).attr('href',"/logout?log="+CryptoJS.HmacSHA1(Math.random().toString(),'<%=Client%>').toString(CryptoJS.enc.Hex));
		session.clear();
	});
</script>
<!-- mother grid end here-->
</body>
</html>